body {
    font-size: 22px;
    line-height: 34px;
}

header,
nav {
    background: #fd739c;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}