body {
    font-size: 22px;
    line-height: 34px;
}

header,
nav {
    background: #fd739c;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    padding: 0 0 40px 0;
}

header {
    padding: 40px 0 40px 0;
    margin: 0 0 80px 0;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    line-height: 60px;
}